<div class="container-fluid nav-bar">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex flex-row align-items-end">
        <a class="nav-link" [routerLink]="['']"><h2>Home</h2></a>
        <a class="nav-link" [routerLink]="['vaults']"><h4>Vaults</h4></a>
        <a class="nav-link" [routerLink]="['keeps']"><h4>Keeps</h4></a>
      </div>
    </div>
    <div class="col-md-4">
      <button *ngIf="user == null" class="btn btn-success" [routerLink]="['account']">Login/Register</button>
      <div *ngIf="user != null">
        <h4>User: {{user.username}}</h4>
        <button class="btn btn-success" (click)="signOut()">SignOut</button>
      </div>
    </div>
  </div>
</div>
